.div-57 {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  gap: 0px;
}
@media (max-width: 991px) {
  .div-57 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.div-58 {
  border-radius: 9999px;
  border: 1px solid #e1e4e6;
  background-color: #fff;
  align-self: end;
  z-index: 10;
  margin-top: 32px;
  aspect-ratio: 1.05;
  justify-content: center;
  align-items: center;
  height: 45px;
  color: #626e79;
  white-space: nowrap;
  padding: 0 19px;
  font: 400 20px/140% Inter, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-58 {
    white-space: initial;
  }
}
.div-59 {
  border-radius: 12px;
  background-color: #fff;
  padding: 0 26px 12px 0;
}
@media (max-width: 991px) {
  .div-59 {
    max-width: 100%;
  }
}
.div-60 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-60 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.div-61 {
  display: flex;
  margin-top: -15px;
  flex-direction: column;
  font-weight: 400;
}
@media (max-width: 991px) {
  .div-61 {
    margin-top: 9px;
  }
}
.div-62 {
  border-radius: 0px 8px 8px 0px;
  background-color: #ff7724;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  font-size: 16px;
  color: #fff;
  line-height: 150%;
  padding: 7px 13px;
}
.img-13 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 20px;
}
.div-63 {
  font-family: Inter, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
}
.div-64 {
  display: flex;
  margin-top: 38px;
  padding-left: 54px;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: #626e79;
  white-space: nowrap;
  text-align: center;
  line-height: 143%;
}
@media (max-width: 991px) {
  .div-64 {
    padding-left: 20px;
    white-space: initial;
  }
}
.img-14 {
  aspect-ratio: 1.37;
  object-fit: auto;
  object-position: center;
  width: 141px;
}
.div-65 {
  font-family: Inter, sans-serif;
  margin-top: 31px;
}
.column-4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 53%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-4 {
    width: 100%;
  }
}
.div-66 {
  display: flex;
  margin-top: 27px;
  flex-grow: 1;
  flex-direction: column;
  font-size: 16px;
  color: #4b5665;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 991px) {
  .div-66 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-67 {
  font-family: Inter, sans-serif;
}
@media (max-width: 991px) {
  .div-67 {
    max-width: 100%;
  }
}
.div-68 {
  color: #2c384a;
  font-family: Inter, sans-serif;
  font-weight: 700;
  line-height: 150%;
  margin-top: 17px;
}
@media (max-width: 991px) {
  .div-68 {
    max-width: 100%;
  }
}
.div-69 {
  font-family: Inter, sans-serif;
  margin-top: 19px;
}
@media (max-width: 991px) {
  .div-69 {
    max-width: 100%;
  }
}
.div-70 {
  align-self: start;
  display: flex;
  margin-top: 23px;
  gap: 4px;
  color: #1b88f4;
  white-space: nowrap;
  line-height: 150%;
  padding: 0 1px;
}
@media (max-width: 991px) {
  .div-70 {
    white-space: initial;
  }
}
.div-71 {
  font-family: Inter, sans-serif;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .div-71 {
    white-space: initial;
  }
}
.img-15 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 16px;
}
.column-5 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 24%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-5 {
    width: 100%;
  }
}
.div-72 {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div-72 {
    margin-top: 24px;
    white-space: initial;
  }
}
.div-73 {
  border-radius: 0px 0px 12px 12px;
  background-color: #f3f9ff;
  align-self: center;
  display: flex;
  width: 145px;
  max-width: 100%;
  flex-direction: column;
  color: #074786;
  padding: 3px 36px 18px;
}
@media (max-width: 991px) {
  .div-73 {
    white-space: initial;
    padding: 0 20px;
  }
}
.img-16 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 10px;
  align-self: end;
}
.div-74 {
  align-self: center;
  margin-top: 5px;
  font: 32px/150% Inter, sans-serif;
}
.div-75 {
  margin-top: 24px;
  font: 14px/143% Inter, sans-serif;
}
.img-17 {
  aspect-ratio: 6.67;
  object-fit: auto;
  object-position: center;
  width: 100%;
  align-self: center;
  margin-top: 13px;
}
.div-76 {
  border-radius: 12px;
  background-color: #1b88f4;
  margin-top: 72px;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 18px 60px;
  font: 16px/24px Inter, sans-serif;
}
@media (max-width: 991px) {
  .div-76 {
    margin-top: 40px;
    white-space: initial;
    padding: 0 20px;
  }
}
.img-18 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 10px;
  align-self: end;
  margin: 24px 150px 0 0;
}
@media (max-width: 991px) {
  .img-18 {
    margin-right: 10px;
  }
}
.div-77 {
  display: flex;
  margin-top: 4px;
  justify-content: space-between;
  gap: 0px;
}
@media (max-width: 991px) {
  .div-77 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.div-78 {
  border-radius: 9999px;
  border: 1px solid #e1e4e6;
  background-color: #fff;
  align-self: end;
  z-index: 10;
  margin-top: 28px;
  aspect-ratio: 1.05;
  justify-content: center;
  align-items: center;
  height: 45px;
  color: #626e79;
  white-space: nowrap;
  padding: 0 18px;
  font: 400 20px/140% Inter, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-78 {
    white-space: initial;
  }
}
.div-79 {
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: #fff;
  padding: 0 35px 12px;
}
@media (max-width: 991px) {
  .div-79 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.div-80 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-80 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-6 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 19%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-6 {
    width: 100%;
  }
}
.div-81 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
  font-size: 13px;
  color: #626e79;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  line-height: 154%;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div-81 {
    margin-top: 40px;
    white-space: initial;
  }
}
.img-19 {
  aspect-ratio: 1.43;
  object-fit: auto;
  object-position: center;
  width: 147px;
}
.div-82 {
  font-family: Inter, sans-serif;
  margin-top: 15px;
}
@media (max-width: 991px) {
  .div-82 {
    white-space: initial;
  }
}
.column-7 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 55%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-7 {
    width: 100%;
  }
}
.div-83 {
  display: flex;
  margin-top: 27px;
  flex-grow: 1;
  flex-direction: column;
  font-size: 16px;
  color: #4b5665;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 991px) {
  .div-83 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-84 {
  font-family: Inter, sans-serif;
}
@media (max-width: 991px) {
  .div-84 {
    max-width: 100%;
  }
}
.div-85 {
  color: #2c384a;
  font-family: Inter, sans-serif;
  font-weight: 700;
  line-height: 150%;
  margin-top: 14px;
}
@media (max-width: 991px) {
  .div-85 {
    max-width: 100%;
  }
}
.div-86 {
  font-family: Inter, sans-serif;
  align-self: start;
  margin: 16px 0 0 18px;
}
@media (max-width: 991px) {
  .div-86 {
    max-width: 100%;
  }
}
.div-87 {
  color: #1b88f4;
  font-family: Inter, sans-serif;
  line-height: 150%;
  margin-top: 33px;
}
@media (max-width: 991px) {
  .div-87 {
    max-width: 100%;
  }
}
.column-8 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 26%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-8 {
    width: 100%;
  }
}
.div-88 {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div-88 {
    margin-top: 25px;
    white-space: initial;
  }
}
.div-89 {
  border-radius: 0px 0px 12px 12px;
  background-color: #f3f9ff;
  align-self: center;
  display: flex;
  width: 145px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  color: #074786;
  padding: 19px 30px;
}
@media (max-width: 991px) {
  .div-89 {
    white-space: initial;
    padding: 0 20px;
  }
}
.div-90 {
  font: 32px/150% Inter, sans-serif;
}
.div-91 {
  align-self: stretch;
  margin-top: 23px;
  font: 14px/143% Inter, sans-serif;
}
.img-20 {
  aspect-ratio: 7.69;
  object-fit: auto;
  object-position: center;
  width: 100%;
  margin-top: 10px;
}
.div-92 {
  border-radius: 12px;
  background-color: #1b88f4;
  margin-top: 72px;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 18px 60px;
  font: 16px/150% Inter, sans-serif;
}
@media (max-width: 991px) {
  .div-92 {
    margin-top: 40px;
    white-space: initial;
    padding: 0 20px;
  }
}